<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <title>Student List</title>
</head>
<body>
    <section>
        <div class="form-box">
            <h2>Student List</h2>
            <div id="student-list">
                <!-- Loop through the students list -->
                {% for student in students %}
                <div class="student-block">
                    <div class="student-info">Name: {{ student[1] }}</div>
                    <div class="student-info">ID: {{ student[2] }}</div>
                    <div class="student-info">GPA: {{ student[3] }}</div>
                    <div class="student-info">Age: {{ student[4] }}</div>


                    <a class="delete-button" href="/delete/{{ student[0] }}">Delete</a>

                </div>
                {% endfor %}
                <a href="{{ url_for('home') }}" class="button1">Back</a>
            </div>
        </div>
    </section>
</body>
</html>
